{mode, max}.
{concurrent, 32}.
{driver, yz_driver}.
{code_paths, ["/home/rzezeski/code/basho/yokozuna/misc/bench",
              "/home/rzezeski/code/me/riak-librarian"]}.
{index_path, "/riak/code2"}.
{search_path, "/search/code2"}.
{http_conns, [{"127.0.0.1", 10018},
              {"127.0.0.1", 10028},
              {"127.0.0.1", 10038},
              {"127.0.0.1", 10048}]}.
{pb_conns, []}.
{duration, infinity}.
%% {key_generator, {function,  yz_driver, fruit_key_val_gen, [1000000]}}.
%% This is using yz_drivers mfa_valgen to use riak_librarian to feed
%% the yz_file_terms cache server.
{value_generator,
 {function, yz_driver, mfa_valgen,
  [{riak_librarian, load_dir,
    ["/home/rzezeski/code/me/riak-librarian/test", <<"commit">>, <<"hash_s">>]},
   {riak_librarian, read_entry, [<<"commit">>, <<"hash_s">>]}]}}.
{operations, [{{index, "application/xml"}, 1}]}.
